.filterBar {
    display: flex;
    gap: 1rem;
}

.timeButton {
    border-radius: .2rem;
    background-color: white;
    padding: .2rem .324rem;
}

.timeButton:hover {
    background-color: #393939;
}